@font-face {
  font-family:limestone ;
  src: url(../../Test/public/fonts/limestone.woff2);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: limestone;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3vh 5%;
  align-items: center;
  z-index: 1000;
}

.logo img {
  width: 12vw;
}

.menu {
  display: flex;
  gap: 3vh;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.2s;
}

.menu a:hover {
  color: #80b747;
}

.nav-button {
  display: flex;
  gap: 3vh;
}

.menu-btn {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  width: 39%  ;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .menu.open {
    display: flex;
  }
  .menu-btn {
    display: block;
  }
  .nav-button {
    display: none;
  }
}

.btn-1{
  height: 8vh;
  border-radius:4vh;
  padding: 14px 25px;
  font-weight: bold;
  color: #fff;
  border: none;
  background: rgb(128,183,71);
background: linear-gradient(153deg, rgba(128,183,71,1) 36%, rgba(0,212,255,1) 75%)
}
.btn-2{
  height: 8vh;
  border-radius:4vh;
  padding: 14px 25px;
  font-weight: bold;
  color: #80b747;
  border: 1px solid #80b747;
  background-color: transparent;
}
.banner{
  width: 100%;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;;
  gap: 3vh;
  background: rgb(128,183,71);
  background: linear-gradient(153deg, rgba(128,183,71,1) 36%, rgba(0,212,255,1) 75%)
}
.head-1 h2{
  color: #fff;
  font-size: 3vh;
  font-weight: bold;
}
.btn-3{
  height: 8vh;
  border-radius:4vh;
  padding: 14px 25px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}
.main-1{
width: 100%;
height: 100vh;
padding: 12px;
display: flex;
align-items: center;
}
.content-1{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1vmax;
}

.cont-h1{
  display: flex;
  color: #80b747;
  font-family: limestone;
  align-items: center;
}
.headline{
  font-size: 11vh;
}
.headline>span{
  color: #4ec776;
}
.para{
  color: #5f6d7e;

}
.video-1{
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}
.video-1 video{
  width: 100%;
height: auto;
}
.btn-4{
  height: 8vh;
  width: 40%;
  border-radius:4vh;
  /* padding: 14px 25px; */
  font-weight: bold;
  color: #272d37;
  border: 2px solid #272d37;
  background-color: transparent;  
  transition: 0.2s;
}
.btn-4:hover{
  background-color: #272d37;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 430px) {
  .logo img{
    width:25vw ;
  }
  .banner{
    flex-direction: column;
    margin-top: 10vh;
  }
  .head-1 h2{
    font-size: 2vh;
  }
  .btn-3{
    height: 4vh;
  }
  .main-1{
    flex-direction: column;
  }
  .content-1{
    width: 100%;
    text-align: center;
   gap: 30px;
  }
  .headline{
    font-size: 4vh;
  }
  .cont-h1{
    justify-content: center;
  }
  .btn-4{
    width: 100%;
    padding: 20px;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-1{
    width: 100%;
    display: block;
  }
}